[submodule "static/git_submodules/dashboards"]
	path = static/git_submodules/dashboards
	url = git@github.com:keen/dashboards.git
[submodule "static/git_submodules/france-geojson"]
	path = static/git_submodules/france-geojson
	url = git@github.com:gregoiredavid/france-geojson.git
[submodule "static/git_submodules/queue"]
	path = static/git_submodules/queue
	url = git@github.com:mbostock/queue.git
