<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/dc.js/dc.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom/style.css') }}">
</head>
<body class="application">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="metier-stat-container">
						<h4 class="titre">Nombre de malades par métier</h4>
						<div id="metier-stat"></div>
					</div>
				</div>
				<div class="row">
					<div class="civilite-stat-container">
						<h4 class="titre">Nombre de malades par civilité</h4>
						<div id="civilite-stat"></div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="row">
					<div class="map-container">
						<h3 class="titre">Visualisation du nombre de malades sur la carte de la France</h3>
						<span class="label nb-malade">Nombre des malades:</span>
						<span class="content nb-malade">0</span>
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="age-stat-container">
					<h4 class="titre">Nombre de malades par age</h4>
					<div id="age-stat"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/dc.js/web/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/dc.js/web/js/crossfilter.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/d3/d3.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/dc.js/web/js/dc.js') }}"></script>
	<script src="{{ url_for('static', filename='custom/graphs.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.arrondissement').click(function() {
				// alert($(this).attr('nb_malades'));
				alert("bon");
			});
		});
	</script>
</body>
</html>